<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "F:/Hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/OneToOne</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	
	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
	
	<mapping resource="com/StudentAddress/Student.hbm.xml"/>
	<mapping resource="com/StudentAddress/Address.hbm.xml"/>
	
	<mapping resource="com/PassportPerson/Person.hbm.xml"/>
	<mapping resource="com/PassportPerson/Passport.hbm.xml"/>
	
	<mapping resource="com/CarEngine/Car.hbm.xml"/>
	<mapping resource="com/CarEngine/Engine.hbm.xml"/>
	
	<mapping resource="com/HouseBase/base.hbm.xml"/>
	<mapping resource="com/HouseBase/House.hbm.xml"/>
	
	<mapping resource="com/StateCapital/Capital.hbm.xml"/>
	<mapping resource="com/StateCapital/State.hbm.xml"/>
	
	<mapping resource="com/BookIndex/Index.hbm.xml"/>
	<mapping resource="com/BookIndex/Book.hbm.xml"/>
	
</session-factory>
</hibernate-configuration>